<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageSystem" class="ru.otus.message_system.MessageSystem" />
    <bean id="messageSystemContext" class="ru.otus.message_system.MessageSystemContext">
        <constructor-arg ref="messageSystem" />
    </bean>

</beans>